extends mdb_layout

block content
	<!--Navbar-->
	<nav class="navbar navbar-toggleable-md navbar-dark bg-primary fixed-top">
		<div class="container">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx2" aria-controls="collapseEx2" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">
				<strong>Navbar</strong>
			</a>
			<div class="collapse navbar-collapse" id="collapseEx2">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link">Features</a>
					</li>
					<li class="nav-item">
						<a class="nav-link">Pricing</a>
					</li>
					<li class="nav-item btn-group">
						<a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<a class="dropdown-item">Action</a>
							<a class="dropdown-item">Another action</a>
							<a class="dropdown-item">Something else here</a>
						</div>
					</li>
				</ul>
				<form class="form-inline waves-effect waves-light">
					<input class="form-control" type="text" placeholder="Search">
				</form>
			</div>
		</div>
	</nav>
	<!--/.Navbar-->
	
	<!--Mask-->
	<div class="view">
		<!--Intro content-->
		<div class="full-bg-img flex-center">
			<ul>
				<li>
					<h1 class="h1-responsive">Material Design for Bootstrap 4</h1>
				</li>
				<li>
					<p>The most powerful and free UI KIT for Bootstrap</p>
				</li>
				<li>
					<a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-primary btn-lg">Sign up!</a>
					<a target="_blank" href="https://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-default btn-lg">Learn more</a>
				</li>
			</ul>
		</div>
		<!--/Intro content-->
	</div>
	<!--/.Mask-->
	//-
		<main>
			<div class="container">
				
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim, erat maximus ultrices volutpat, ex turpis consectetur ligula, vitae vestibulum lectus diam in elit. Cras vitae eros risus. In eget rhoncus est, sit amet gravida diam. Maecenas at felis quis tortor bibendum dignissim in in urna. Nullam tincidunt vulputate urna sed consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed auctor sodales pulvinar. Nullam nisi turpis, viverra id libero sit amet, finibus vestibulum odio. Cras eu sodales enim. Duis ac mauris sit amet mi ultricies suscipit. Fusce neque tortor, volutpat et purus eu, ornare rutrum velit. Phasellus non quam eu lacus imperdiet commodo eu eget eros.
				
				p Aenean elementum pulvinar nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer non lacus vitae nisi pulvinar suscipit. Praesent id elit eget est bibendum condimentum vitae nec justo. Sed placerat tortor justo. Quisque ut venenatis justo. Etiam tristique turpis et nunc posuere, sed varius nulla finibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ipsum tellus, eleifend sit amet arcu quis, iaculis ultricies ligula. Nullam vel tellus tortor. Phasellus convallis diam sed sapien tempus rutrum. Mauris sapien velit, tempus sed eros ac, congue rutrum metus. Sed tincidunt sagittis cursus. Nulla facilisi. Nunc bibendum sit amet arcu a imperdiet. Quisque enim magna, molestie sed lectus in, congue aliquam ante.

				p Nullam fermentum libero id diam posuere mattis. Duis vitae mauris erat. Integer suscipit non eros at efficitur. Nam vestibulum quam lectus, eu pellentesque ex imperdiet id. Sed laoreet erat facilisis velit aliquet, vel blandit felis tempor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis et commodo tortor.

				p Mauris arcu augue, gravida id dictum id, mollis eu mauris. Morbi sed lectus massa. Ut at dignissim lacus. In pharetra tincidunt tristique. Aenean non augue et neque volutpat sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque eget massa nec ipsum placerat pretium. Curabitur interdum pretium mi id mollis. Donec scelerisque fringilla justo, vitae lacinia est ornare quis.

				p Nulla lobortis sem vitae est tristique porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam a massa non quam semper sagittis et id eros. Curabitur ut lectus sed neque laoreet pretium eget quis lacus. Morbi at scelerisque nisl. Aliquam molestie lorem eu tristique fermentum. In facilisis, odio non placerat ultricies, turpis dolor vulputate augue, at facilisis enim turpis quis lectus. Donec dignissim libero ut lacus malesuada mattis. In hac habitasse platea dictumst. Cras mattis leo at urna cursus maximus.
				
			
			</div>
		</main>
		